<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <script type="text/javascript" src="./javascripts/echarts.min.js"></script>
    <script type="text/javascript" src="https://siguomng.zwxgame.net/javascripts/jquery-1.10.2.min.js"></script>
  </head>
  <body>
    <div style="">
      <div style="width: 98%; background-color: aliceblue;">
        <div id="changePriceNum" style="width:100%;height: 260px;margin: 0 auto;"></div>
      </div>
      <div style="width: 98%; background-color: aliceblue;margin-top: 10px;">
        <div id="districtCompare" style="width:100%;height: 380px;margin: 0 auto;"></div>
      </div>
      <div style="width: 98%; background-color: aliceblue;margin-top: 10px;">
        <div id="districtAvgPrice" style="width:100%;height: 260px;margin: 0 auto;"></div>
      </div>
      <div style="width: 98%; background-color: aliceblue;margin-top: 10px;">
        <div id="positionAvgPrice" style="width:100%;height: 260px;margin: 0 auto;"></div>
      </div>
      <div style="width: 98%; background-color: aliceblue;margin-top: 10px;">
        <div id="estateAvgPrice" style="width:100%;height: 260px;margin: 0 auto;"></div>
      </div>
      <div style="width: 98%; background-color: aliceblue;margin-top: 10px;">
        <div id="bedroomAvgPrice" style="width:100%;height: 260px;margin: 0 auto;"></div>
      </div>
    </div>
    <script type="text/javascript">
        var cpn = echarts.init(document.getElementById('changePriceNum'));
        var optionMain = {
            title: {
                text:'调价数量（总数： <%= nh %>套）',
                subtext:'单价调整走势'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                },
//                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                data: ['调价总数', '降价数', '涨价数']
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {readOnly: true},
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                },
                right: '80px'
            },
            xAxis: {
                type: 'category',
                name: '日期',
                data: [<%= x %>]
            },
            yAxis: {
                type: 'value',
                name: '房屋数',
                axisLabel: {
                    formatter: '{value} 套'
                }
            },
            series: [{
                name: '调价总数',
                type: 'line',
                smooth: true,
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                markLine : {
                    data : [
                        {type : 'average', name : '平均值'}
                    ]
                },
                data: [<%= ytotal %>]
            },{
                name: '降价数',
                type: 'line',
                smooth: true,
                label: {
                    normal: {
                        show: true,
                        position: 'bottom'
                    }
                },
                data: [<%= ydown %>]
            },{
                name: '涨价数',
                type: 'line',
                smooth: true,
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                data: [<%= yup %>]
            },]
        };
        cpn.setOption(optionMain);

        $(function () {
            var dstcpr = echarts.init(document.getElementById('districtCompare'));
            dstcpr.showLoading();
            $.ajax({
                url: './getdstcpr',
                type: 'post',
                data: {},
                success: function (resp) {
                    dstcpr.hideLoading();
                    resp = JSON.parse(resp);
                    var vals = [];
                    for(var i=0; i<resp.data.length; i++){
                        val = {
                            value: resp.data[i].val,
                            name: resp.data[i].district,
                            symbol: 'rect',
                            symbolSize: 5,
                            emphasis: {
                                areaStyle: {
                                    color: 'rgba(0,250,0,0.3)'
                                }
                            },
                            lineStyle: {
                                normal: {
                                    type: 'solid'//'dashed'
                                }
                            }
                        }
                        if(val.name =='锦江')
                            val.label = { normal: { show: true, position: 'right',color:'red', backgroundColor:'#888888', padding:2 }};
                        vals.push(val);
                    }
                    var bvals = [];
                    for(var i=0; i<resp.bdata.length; i++){
                        bval = {
                            value: resp.bdata[i].val,
                            name: resp.bdata[i].bn,
                            symbol: 'retangle',
                            emphasis: {
                                areaStyle: {
                                    color: 'rgba(0,250,0,0.3)'
                                }
                            },
                            symbolSize: 5
                        };
                        if(resp.bdata[i].bn=='3居室')
                            bval.label = { normal: { show: true, position: 'right',color:'red', backgroundColor:'#888888', padding:2 }};
                        bvals.push(bval);
                    }

                    ylist = [{
                        name: '各区域对比',
                        type: 'radar',
                        itemStyle: {
                            emphasis: {
                                lineStyle: {
                                    width: 4
//                                },
//                                areaStyle: {
//                                    color: 'rgba(0,250,0,0.3)'
                                }
                            }
                        },
                        data: vals
                    }, {
                        name: '卧室数量对比',
                        type: 'radar',
                        radarIndex: 1,
                        itemStyle: {
                            emphasis: {
                                lineStyle: {
                                    width: 5
                                }
                            }
                        },
                        data: bvals
                    }];
                    option = {
                        title: {
                            text:'数据对比',
                            subtext:'基于上一日数据生成'
                        },
                        legend: {
                            data: resp.y.concat(resp.b),
                            selected:{'新都':false,'郫都':false,'都江堰':false,'青白江':false,'双流':false,'天府新区南区':false,'高新西':false,
                                '天府新区':false,'温江':false,'金牛':false,'青羊':false
                            }
                        },
                        tooltip:{
                            trigger: 'item',
                            padding: 10
                        },
                        radar: [
                            {
                                indicator: [
                                    { text: '在售数' },
                                    { text: '降价数' },
                                    { text: '涨价数' },
                                    { text: '关注热度' },
                                    { text: '平均总价' },
                                    { text: '平均单价' }
                                ],
                                center: ['25%', '55%'],
                                radius: 158,
                                startAngle: 60,
                                splitNumber: 4,
                                name: {
                                    formatter:'{value}',
                                    textStyle: {
                                        color:'#72ACD1'
                                    }
                                },
                                splitArea: {
                                    areaStyle: {
                                        color: ['rgba(114, 172, 209, 0.2)',
                                            'rgba(114, 172, 209, 0.4)', 'rgba(114, 172, 209, 0.6)',
                                            'rgba(114, 172, 209, 0.8)', 'rgba(114, 172, 209, 1)'],
                                        shadowColor: 'rgba(0, 0, 0, 0.3)',
                                        shadowBlur: 10
                                    }
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: 'rgba(255, 255, 255, 0.5)'
                                    }
                                },
                                splitLine: {
                                    lineStyle: {
                                        color: 'rgba(255, 255, 255, 0.5)'
                                    }
                                }
                            },
                            {
                                indicator: [
                                    { text: '在售数' },
                                    { text: '降价数' },
                                    { text: '涨价数' },
                                    { text: '建筑面积' },
                                    { text: '关注热度' },
                                    { text: '平均总价' },
                                    { text: '平均单价' }
                                ],
                                center: ['75%', '55%'],
                                shape: 'circle',
                                name: {
                                    textStyle: {
                                        color:'#000000'
                                    }
                                },
                                radius: 148
                            }
                        ],
                        series: ylist
                    }
                    console.log(option);
                    dstcpr.setOption(option);
                },
                error: function () {
                    dstcpr.hideLoading();
                    alert('获取行政区对比数据失败！');
                }
            });

            var dap = echarts.init(document.getElementById('districtAvgPrice'));
            dap.showLoading();
            $.ajax({
                url: './getdap',
                type: 'post',
                data: {district:['锦江','龙泉驿', '成华', '高新', '双流', '武侯'],dt:'day'},
                success: function (resp) {
                    dap.hideLoading();
                    console.log(typeof resp);
                    resp = JSON.parse(resp);
                    ylist = [];
                    for(var i=0; i<resp.y.length; i++){
                        ylist.push({
                            name: resp.y[i],
                            type: 'line',
                            smooth: true,
                            data: resp.data[resp.y[i]]
                        })
                    }

                    dap.setOption({
                      title: {
                          text:'行政区单价变化'
                      },
                      xAxis: {
                          data: resp.x
                      },
                      legend: {
                          data: resp.y
                      },
                      tooltip:{
                          trigger: 'axis',
                          axisPointer: {
                              type: 'cross'
                          },
//                          formatter: '{a} <br/>{b} : {c} ({d}%)',
                          padding: 10
                      },
                      toolbox: {
                          show: true,
                          feature: {
                              dataView: {readOnly: true},
                              magicType: {type: ['line', 'bar']},
                              restore: {},
                              saveAsImage: {}
                          },
                          right: '80px'
                      },
                      yAxis: {
                          type: 'value',
                          axisLabel: {
                              formatter: '{value} 元'
                          }
                      },
                      series: ylist
                    });
                },
                error: function () {
                    dap.hideLoading();
                    alert('获取单价失败！');
                }
            });

            var pap = echarts.init(document.getElementById('positionAvgPrice'));
            pap.showLoading();
            $.ajax({
                url: './getpap',
                type: 'post',
                data: {position:['三圣乡','卓锦城', '大面', '洪河', '蓝谷地'],dt:'day'},
                success: function (resp) {
                    pap.hideLoading();
                    console.log(resp);
                    resp = JSON.parse(resp);
                    ylist = [];
                    for(var i=0; i<resp.y.length; i++){
                        ylist.push({
                            name: resp.y[i],
                            type: 'line',
                            smooth: true,
                            data: resp.data[resp.y[i]]
                        })
                    }

                    pap.setOption({
                        title: {
                            text:'片区单价变化'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        xAxis: {
                            data: resp.x
                        },
                        legend: {
                            data: resp.y
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                dataView: {readOnly: true},
                                magicType: {type: ['line', 'bar']},
                                restore: {},
                                saveAsImage: {}
                            },
                            right: '80px'
                        },
                        yAxis: {},
                        series: ylist
                    });
                },
                error: function () {
                    pap.hideLoading();
                    alert('获取单价失败！');
                }
            })

            var eap = echarts.init(document.getElementById('estateAvgPrice'));
            eap.showLoading();
            $.ajax({
                url: './geteap',
                type: 'post',
                data: {estate:['锦江城市花园二期','合能锦城', '华韵天府', '和祥瑞苑', '东洪广厦','卓锦城六期','鑫苑名家二期','锦蓉佳苑','金茂悦龙山','龙城1号','上东阳光林曦'],dt:'day'},
                success: function (resp) {
                    eap.hideLoading();
                    console.log(resp);
                    resp = JSON.parse(resp);
                    ylist = [];
                    for(var i=0; i<resp.y.length; i++){
                        ylist.push({
                            name: resp.y[i],
                            type: 'line',
                            smooth: true,
                            data: resp.data[resp.y[i]]
                        })
                    }

                    eap.setOption({
                        title: {
                            text:'小区单价变化'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        xAxis: {
                            data: resp.x
                        },
                        legend: {
                            data: resp.y
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                dataView: {readOnly: true},
                                magicType: {type: ['line', 'bar']},
                                restore: {},
                                saveAsImage: {}
                            },
                            right: '80px'
                        },
                        yAxis: {},
                        series: ylist
                    });
                },
                error: function () {
                    eap.hideLoading();
                    alert('获取单价失败！');
                }
            })

            var bap = echarts.init(document.getElementById('bedroomAvgPrice'));
            bap.showLoading();
            $.ajax({
                url: './getbap',
                type: 'post',
                data: {district:['a','b'],dt:'day'},
                success: function (resp) {
                    bap.hideLoading();
                    console.log(resp);
                    resp = JSON.parse(resp);
                    ylist = [];
                    for(var i=0; i<resp.y.length; i++){
                        ylist.push({
                            name: resp.y[i],
                            type: 'line',
                            smooth: true,
                            data: resp.data[resp.y[i]]
                        })
                    }

                    bap.setOption({
                        title: {
                            text:'户型单价变化'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        xAxis: {
                            data: resp.x
                        },
                        legend: {
                            data: resp.y
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                dataView: {readOnly: true},
                                magicType: {type: ['line', 'bar']},
                                restore: {},
                                saveAsImage: {}
                            },
                            right: '80px'
                        },
                        yAxis: {},
                        series: ylist
                    });
                },
                error: function () {
                    bap.hideLoading();
                    alert('获取单价失败！');
                }
            })
        })

    </script>
  </body>
</html>
